.photo__grid {
  max-width: 1184px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  gap: 16px 16px;
  display: grid;
  padding-left: 15px;
}

.photo__grid_image {
  width: 284px;
  height: 213px;
}

@media screen and (max-width: 768px) {
  .photo__grid {
    max-width: 720px;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    margin: auto;
    padding: 0;
  }
  .photo__grid_image {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo__grid {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: auto;
    gap: 12px 12px;
    padding: 0;
  }

  .photo__grid_image {
    width: 288px;
    height: 216px;
  }
}
