.places {
  max-width: 987px;
  display: grid;
  margin: auto;
}

.places__city {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title artist"
    "image container"
    "button container";
}

.places__city_title {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 100px auto 0;
  color: #fff;
  text-align: left;
}

.places__city_title-berea {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 100px auto 0;
  color: #fff;
  text-align: left;
}

.places__city_title-muramvya {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 100px auto 0;
  color: #fff;
  text-align: left;
}

.places__city_acambaro {
  grid-area: title;
  max-width: 460px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 100px auto 0;
  color: #fff;
  text-align: left;
}

.places__artist {
  grid-area: artist;
  max-width: 456px;
  font-family: "inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.places__artist_title {
  max-width: 86px;
  font-family: "inter", sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 170px 0 10px;
}

.places__artist_title-travis {
  max-width: 86px;
  font-family: "inter", sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 170px 0 10px;
}

.places__artist_title-grevisse {
  max-width: 86px;
  font-family: "inter", sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 170px 0 10px;
}

.places__artist_alberto {
  max-width: 86px;
  font-family: "inter", sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 170px 0 10px;
}

.places__artist-name {
  margin: 0;
}

.places__image {
  grid-area: image;
  width: 460px;
  height: 460px;
  justify-content: left;
  margin: auto;
}

.places__image:hover {
  opacity: 50%;
}

.places__container {
  grid-area: container;
}

.places__description {
  grid-area: description;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.63;
  font-weight: normal;
  color: #fff;
  max-width: 484px;
  margin: 0 0 18px;
}

.places__button {
  grid-area: button;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 289px;
  height: 48px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px 0px;
  background: linear-gradient(
    90deg,
    rgb(2, 120, 254) 0%,
    rgb(0, 58, 123) 99.98%
  );
}

.places__button:hover {
  opacity: 60%;
}

.places__link {
  width: 289px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }

  .places__city {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 30px;
  }
  .places__city_title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin-top: 100px;
  }
  .places__city_title2 {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin-top: 80px;
  }

  .places__city_title3 {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin-top: 80px;
  }

  .places__city_title4 {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin-top: 50px;
  }

  .places__artist {
    max-width: 352px;
  }

  .places__artist_title {
    margin: 70px 0 10px;
  }

  .places__image {
    width: 340px;
    height: 340px;
  }

  .places__description {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
  }

  .places__city {
    max-width: 320;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "container"
      "container"
      "button";
  }

  .places__city_title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 100px auto 0 16px;
    text-align: left;
  }

  .places__city_title2 {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 50px auto 0 16px;
    text-align: left;
  }

  .places__city_title3 {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 50px auto 0;
    text-align: left;
  }

  .places__city_title4 {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 50px auto 0;
    text-align: left;
  }

  .places__artist {
    max-width: 288px;
    margin-left: 16px;
  }

  .places__artist_title {
    margin: 0 0 10px;
  }

  .places__image {
    width: 320px;
    height: 320px;
  }

  .places__description {
    font-size: 16px;
    max-width: 288px;
    margin-left: 16px;
  }

  .places__button {
    margin-left: 16px;
  }
}
